.flex-container {
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color: #EDF5FC;
    padding: 2em;
  }

  .title-and-button {
    display: flex;
    justify-content: space-between;
  }

  .button {
    background-color: #7D8CC4;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: small;
    border-radius: 4px;
    max-height: 2em;
    margin-left: .2em;
  }

  p {
    font-size: large;

  }

  .button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: white;
    color: #7D8CC4;
    border: solid 1px #7D8CC4;
  }

  body {
    font-family: Verdana, sans-serif;
  }